<div class="min-h-screen flex w-full bg-background" [ngClass]="isLogin ? 'flex-row' : 'flex-row-reverse'">

  <div style="view-transition-name: auth-logo-panel;"
       class="hidden md:flex w-1/2 bg-[#050505] items-center justify-center relative border-border-base/50"
       [ngClass]="isLogin ? 'border-r' : 'border-l'">

    <div class="flex flex-col items-center gap-6 z-10">
      <img src="images/logo.svg" alt="CrediCar Logo" class="w-20 h-20 sm:w-24 sm:h-24 object-contain">
      <h1 class="text-4xl font-bold text-white tracking-tight">CrediCar</h1>
    </div>

  </div>

  <div style="view-transition-name: auth-form-panel;"
       class="w-full md:w-1/2 flex items-center justify-center p-6 sm:p-12 relative">

    <div class="w-full max-w-[420px]">
      <router-outlet></router-outlet>

      <div class="mt-12 text-center">
        <p class="text-xs text-text-muted">
          Powered by <span class="font-semibold text-text-secondary">CrediCar</span>
        </p>
      </div>
    </div>

  </div>
</div>
